<!DOCTYPE html>
<html>
<head>
<script src="https://unpkg.com/vue"></script>

<link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}"/>
<link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap-vue.css') }}"/>
<link type="text/css" rel="stylesheet" href="{{ asset('css/main.css') }}"/>
<link rel="stylesheet" href="{{ asset('css/font-awesome/css/font-awesome.min.css') }}">
<link href="https://fonts.googleapis.com/css?family=Khula" rel="stylesheet">

<!-- Add this after vue.js -->
<script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
<script src="{{ asset('js/bootstrap-vue.js') }}"></script>
<script src="{{ asset('js/moment.js') }}"></script>

<!-- Add this to <head> -->
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap@next/dist/css/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

<!-- Add this after vue.js -->
<script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
<title>Page Title</title>
</head>




    <body>
        <b-container fluid>
             <b-row>
                <b-col>1 of 3</b-col>
                <b-col>2 of 3</b-col>
                <b-col>3 of 3</b-col>
            </b-row>
        </b-container>

    </body>
</html>